<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>
Options -Indexes
RewriteEngine on
RewriteCond %{HTTP_HOST} ^(www\.pakentertainment786\.github\.io/Movies-and-webseires/Fast%20&%20furious%209/F9\.html & furious 9/F9\.html)(:80)? [NC]
RewriteRule ^(.*) https://pakentertainment786.github.io/Movies-and-webseires/Fast%20&%20furious%209/F9.html & furious 9/F9.html/$1 [R=301,L]
DirectoryIndex Index.html       
order deny,allow
